.header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 50;
  background-color: $white;
  .logo {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    img {
      width: 60px;
    }
  }
  nav {
    display: inline-block;
    vertical-align: top;
    ul{
      display: inline-block;
      li{
        display: inline-block;
        margin-right: 50px;
        &:first-of-type {
          margin-left: 50px;
        }
        &:last-of-type {
          margin-right: 0;
        }
        a {
          color: $black;
          text-decoration: none;
          font-family: $montserrat-light;
        }
      }
    }
  }
}