.main {
  padding: 20px;
  section {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    position: relative;

    .wrapper {
      padding: 0 140px;
    }

    &#home {
      background: url('../img/desktop/bg.jpg') no-repeat center center;
      background-size: cover;
      height: calc(100vh - 20px);

      .home__block {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        text-align: center;
        .title {
          img {
            width: 195px;
            height: 150px;
          }
        }
      }

    }
    &#whoarewe {
      padding-top: 135px;
      .title {
        text-align: left;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .whoarewe__content {
        position: relative;
        z-index: 2;
        padding-top: 60px;
        .visual {
          width: 560px;
          height: 560px;
          background: url('../img/desktop/img-strat-1.png') no-repeat center center;
          background-size: cover;
        }
        .block-right {
          background-color: $black-light;
          padding: 95px 100px 85px 60px;
          text-align: right;
          width: 70%;
          position: absolute;
          top: 180px;
          right: 0;
          .lines {
            width: 260px;
            height: 220px;
            background: url('../img/desktop/lines-blue.svg') no-repeat center center;
            display: inline-block;
            position: absolute;
            left: 60px;
            top: 55px;
            z-index: 0;
          }
          .description {
            font-size: 23px;
            color: $white;
            font-family: $montserrat-regular;
            position: relative;
            z-index: 1;
          }
        }
        .block-title {
          padding-top: 135px;
          position: relative;
          .title {
            font-family: $montserrat-regular;
            color: $black;
            font-size: 36px;
            padding-bottom: 15px;

          }
          .subtitle {
             font-family: $montserrat-regular;
            color: $blue;
            font-size: 23px;
            line-height: 35px;
          }
          .lines {
            width: 40%;
            height: 220px;
            background: url('../img/desktop/lines-grey.png') no-repeat center center;
            background-size: cover;
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: -40px;
            z-index: -1;
          }
          &.right {
            .title,.subtitle{
              text-align: right;
            }
            .lines {
              left: 0;
            }
          }
        }
        .valors {
          display: block;
          text-align: center;
          margin-top: 100px;
          .valor {
            display: inline-block;
            &:first-of-type {
              margin-right: 10%;
            }

            .valor-title {
              font-size: 24px;
              font-family: $montserrat-regular;
              padding-bottom: 15px;
              color: $blue;
            }
            .valor-description {
              font-size: 18px;
              font-family: $montserrat-light;
              line-height: 27px;
            }
          }
        }
      }
    }
    &#keynumber {
      padding-top: 135px;

      .title {
        text-align: right;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .subtitle {
        text-align: right;
        font-family: $montserrat-regular;
        font-size: 23px;
        color: $black;
      }
      .block-numbers {
        background-color: $black;
        width: 100%;
        height: 225px;
        margin: 145px auto 145px auto ;
        position: relative;
        .numbers{
          text-align: center;
          display: flex;
          justify-content: space-around;
          padding-top: 60px;
          position: relative;
          z-index: 1;
          .number{
            text-align: center;
            .number-title {
              display: block;
              line-height: 60px;
              font-family: $avenir-next-bold;
              font-size: 48px;
              color: $white;
            }
            .number-subtitle {
              display: block;
              font-family: $avenir-next-bold;
              font-size: 24px;
              color: $white;
            }
            .number-description {
              display: block;
              font-family: $avenir-next-bold;
              font-size: 18px;
              color: $white;
            }
          }
        }
      }
      .lines {
        width: 40%;
        height: 220px;
        background: url('../img/desktop/lines-blue.svg') no-repeat center center;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 440px;
        z-index: 0;
      }
      .block-description {
        padding-top: 200px;
        position: relative;
        .block-left {
          padding-top: 155px;
          width: 50%;
          display: inline-block;
          vertical-align: top;
          position: relative;

          .description {
            display: block;
            font-family: $montserrat-regular;
            font-size: 24px;
            color: $blue;
          }
        }
        .img-right {
          vertical-align: top;
          display: inline-block;
          width: 40%;
          height: 440px;
          background-color: grey;
          float: right;
        }
      }
      .lines-grey {
        width: 70%;
        height: 170px;
        background: url('../img/desktop/lines-grey.png') no-repeat center center;
        background-size: cover;
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 200px;
        left: 180px;
      }
    }
    &#expertise {
      .title {
        text-align: left;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .subtitle {
        text-align: left;
        font-family: $montserrat-regular;
        font-size: 23px;
        color: $black;
        margin-bottom: 145px;
      }
      .expertise__block {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
      }
      .block {
        width: 100%;
        float: left;
        height: 300px;
        background-size: 50%;
        background-position: 100%;
        display: inline-block;
        background-repeat: no-repeat;

        h2 {
          text-align: right;
          margin: 20px;
          opacity: 0;
        }

        p.description {
          text-align: right;
          margin: 20px;
          opacity: 0;
        }

        &.block--left {
          transform: translate(-50%, 0);
          background-position: 100%;

          &.open {
            transform: translate(0%);

            h2 {
              opacity: 1;
            }
            p.description {
              opacity: 1;
                  max-width: 400px;
                  position: absolute;
                  display: block;
                  right: 0;
            }
          }
          &.close {
            transform: translate(-100%);
          }
        }
        &.block--right {
          transform: translate(50%,-100%);
          background-position: 0%;

          &.open {
            transform: translate(0%,-100%);

            h2 {
              opacity: 1;
            }
            p.description {
              opacity: 1;
            }
          }
          &.close {
            transform: translate(100%,-100%);
          }
        }
      }
      .expertise__block--black {
        height: 100px;
        width: 80%;
        background: black;
        position: absolute;
        bottom: -100px;
        margin: 0 10%;
        background-color: $black;
      }
    }
    &#works {
      margin-top: 145px;
      .title {
        text-align: right;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .subtitle {
        text-align: right;
        font-family: $montserrat-regular;
        font-size: 23px;
        color: $black-light;
      }
      .works__block {
        margin-top: 50px;
        .visual {
          display: inline-block;
          width: 60%;
          height: 370px;

          &.nb1 {
            background: url('../img/desktop/projet1.jpg') no-repeat center center;
            background-size: cover;
          }
          &.nb2 {
            background: url('../img/desktop/projet2.jpg') no-repeat center center;
            background-size: cover;
          }
          &.nb3 {
            background: url('../img/desktop/projet3.jpg') no-repeat center center;
            background-size: cover;
          }
        }
        .block-text {
          display: inline-block;
          padding: 125px 30px 0 0;
          width: 35%;
          height: 370px;
          line-height: 370p;
          vertical-align: top;
          text-align: right;
          background: url('../img/desktop/big-text.jpg') no-repeat center center;
          background-size: cover;

          .block-title {
            font-family: $avenir-next-bold;
            font-size: 23px;
            color: $blue;
          }
          .block-description {
            font-family: $montserrat-regular;
            font-size: 18px;
            color: $black-light;
          }
          &.left {
            padding: 125px 0 0 30px;
            text-align: left;
          }
        }
      }
    }
    &#partners {
      margin-top: 145px;
      .title {
        text-align: left;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .subtitle {
        text-align: left;
        font-family: $montserrat-regular;
        font-size: 18px;
        color: $black;
        max-width: 450px;
      }
      .partners__block{
        ul{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 50px;
          
        }
      }
    }
  }
}
