.main {
  padding: 0 60px;
  section {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    position: relative;

    .wrapper {
      padding: 0 140px;
    }

    &#home {
      background: url('../img/desktop/bg.jpg') no-repeat center center;
      background-size: cover;
      height: 90vh;

      .home__block {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        text-align: center;
        .title {
          img {
            width: 195px;
            height: 150px;
          }
        }
      }

    }
    &#whoarewe {
      padding-top: 135px;
      .title {
        text-align: left;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .whoarewe__content {
        position: relative;
        z-index: 2;
        padding-top: 60px;
        .visual {
          width: 560px;
          height: 560px;
          background: url('../img/desktop/img-strat-1.png') no-repeat center center;
          background-size: cover;
        }
        .block-right {
          background-color: $black-light;
          padding: 95px 100px 85px 60px;
          text-align: right;
          width: 70%;
          position: absolute;
          top: 180px;
          right: 0;
          .lines {
            width: 260px;
            height: 220px;
            background: url('../img/desktop/lines-blue.svg') no-repeat center center;
            display: inline-block;
            position: absolute;
            left: 60px;
            top: 55px;
            z-index: 0;
          }
          .description {
            font-size: 23px;
            color: $white;
            font-family: $montserrat-regular;
            position: relative;
            z-index: 1;
          }
        }
        .block-title {
          text-align: center;
          padding-top: 135px;
          position: relative;
          .title {
            font-family: $montserrat-regular;
            color: $black;
            font-size: 36px;
            text-align: center;
            padding-bottom: 15px;

          }
          .subtitle {
             font-family: $montserrat-regular;
            color: $blue;
            font-size: 23px;
            line-height: 35px;
          }
          .lines {
            width: 40%;
            height: 220px;
            background: url('../img/desktop/lines-grey.png') no-repeat center center;
            background-size: cover;
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: -40px;
            z-index: -1;
          }
        }
        .valors {
          display: block;
          text-align: center;
          margin-top: 100px;
          .valor {
            display: inline-block;
            &:first-of-type {
              margin-right: 10%;
            }

            .valor-title {
              font-size: 24px;
              font-family: $montserrat-regular;
              padding-bottom: 15px;
            }
            .valor-description {
              font-size: 18px;
              font-family: $montserrat-light;
              line-height: 27px;
            }
          }
        }
      }
    }
    &#keynumber {
      padding-top: 135px;

      .title {
        text-align: right;
        font-family: $avenir-next-bold;
        font-size: 46px;
        color: $blue;
      }
      .subtitle {
        text-align: right;
        font-family: $montserrat-regular;
        font-size: 23px;
        color: $black;
      }
      .block-numbers {
        background-color: $black;
        width: 80%;
        height: 225px;
        margin: 145px auto 0 auto;
        position: relative;
        .numbers{
          text-align: center;
          display: flex;
          justify-content: space-around;
          padding-top: 80px;
          position: relative;
          z-index: 1;
          .number{
            text-align: center;
            .number-title {
              display: block;
              line-height: 60px;
              font-family: $avenir-next-bold;
              font-size: 64px;
              color: $white;
            }
            .number-subtitle {
              display: block;
              font-family: $avenir-next-bold;
              font-size: 24px;
              color: $white;
            }
            .number-description {
              display: block;
              font-family: $avenir-next-bold;
              font-size: 18px;
              color: $white;
            }
          }
        }
      }
      .block-description {
        padding-top: 200px;
        position: relative;
        .block-left {
          padding-top: 155px;
          width: 50%;
          display: inline-block;
          vertical-align: top;

          .description {
            display: block;
            font-family: $montserrat-regular;
            font-size: 24px;
            color: $blue;
          }
        }
        .img-right {
          vertical-align: top;
          display: inline-block;
          width: 40%;
          height: 440px;
          background-color: grey;
          position: relative;
          right: 0;
        }
      }
      .lines {
        width: 40%;
        height: 220px;
        background: url('../img/desktop/lines-blue.svg') no-repeat center center;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 440px;
        z-index: 0;
      }
    }
    &#expertise {
      background-color: lightcoral;
    }
    &#partners {
      background-color: lightgreen;
    }
    &#contact {
      background-color: lightcyan;
    }
  }
}
