.sticky__navigation {
	position: fixed;
	top: 50%;
	right: 10px;
	display: none;
    flex-direction: column;
    text-align: right;
	
	a {
		position: relative;
		color: transparent;

		&:before {
		    content: "";
		    display: block;
		    position: absolute;
		    bottom: -10px;
		    right: 0;
		    height: 2px;
		    width: 20px;
		    border-top: 1px solid #000;
		}

		&.active {
			margin-top: 15px;
			color: $blue;

			&:before {
				width: 60px;
				border-color: $blue;
			}
		}
	}
}

.link__contact {
    display: flex;
    position: fixed;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    background: #fff;
    justify-content: center;
    align-items: center;
	box-shadow: 0 0 10px rgba(65,65,65,.2);
	cursor: pointer;
	transition: 0.1s all ease-in;

	&:hover {
		box-shadow: 0 0 30px rgba(65,65,65,.2);
	}

	img {
		width: 40px;
	}
}