{% include 'admin/block/header.twig' %}

<body>

<div class="container">
    <h2>Editer le contenue :</h2>
    <div class="panel panel-default">
        <form method="post" action="">
            <div class="panel-heading"><strong>Section : Qui sommes nous ?</strong></div>

            <div class="panel-body">Titre <input class="form-control" name="title" type="text"></div>

            <div class="panel-body">Corps <textarea style="resize: none;" class="form-control" name="corps"
                                                    type="text"></textarea></div>

            <div class="panel-body">Sous-titre <input class="form-control" name="sub-title" type="text"></div>
            <div class="panel-body">Paragraphe <textarea style="resize: none;" class="form-control" name="corps"
                                                         type="text"></textarea></div>

            <div class="panel-body">Sous-titre 2 <input class="form-control" name="sub-title-2" type="text"></div>
            <div class="panel-body">Paragraphe 2 <textarea style="resize: none;" class="form-control" name="corps-2"
                                                           type="text"></textarea></div>

            <div class="panel-body">Image 1 <input class="file" name="image-1" type="file"></div>
            <div class="panel-body">Titre image 1 <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe image 1 <textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Image 2 <input class="file" name="image-2" type="file"></div>
            <div class="panel-body">Titre image 2 <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe image 2 <textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>


            <div class="panel-body">Image 3 <input class="file" name="image-3" type="file"></div>
            <div class="panel-body">Titre image 3 <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe image 3 <textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Image 4 <input class="file" name="image-4" type="file"></div>
            <div class="panel-body">Titre image 4 <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe image 4 <textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>
            <input type="submit" value="Enregistrer">
        </form>
        <div class="panel-footer">Modifié pour la dernière fois le 12/03/19 à 12h34</div>
    </div>
    <hr>

    <div class="panel panel-default">
        <form method="post" action="">
            <div class="panel-heading"><strong>Section : Chiffres clés</strong></div>

            <div class="panel-body">Titre <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Sous-titre <input class="form-control" name="sub-title" type="text"></div>

            <div class="panel-body">Chiffre 1<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Text chiffre 1<input class="form-control" name="title" type="text"></div>

            <div class="panel-body">Chiffre 2<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Text chiffre 2<input class="form-control" name="title" type="text"></div>

            <div class="panel-body">Chiffre 3<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Text chiffre 3<input class="form-control" name="title" type="text"></div>

            <div class="panel-body">Chiffre 4<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Text chiffre 4<input class="form-control" name="title" type="text"></div>


            <input type="submit" value="Enregistrer">
            <div class="panel-footer">Modifié pour la dernière fois le 12/03/19 à 12h34</div>
        </form>
    </div>

    <hr>

    <div class="panel panel-default">
        <form action="" method="post">
            <div class="panel-heading"><strong>Section : Savoir faire.</strong></div>

            <div class="panel-body">Titre <input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Sous-titre <input class="form-control" name="sub-title" type="text"></div>

            <hr>
            <div class="panel-body"><h5>Partie 1 : gros oeuvre</h5></div>
            <div class="panel-body">Titre 1<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 1 <textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 2<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 2<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 3<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 3<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 4<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 4<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>



            <hr>
            <div class="panel-body"><h5>Partie 2 : isolation</h5></div>
            <div class="panel-body">Titre 1<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 1<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 2<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 2<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 3<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 3<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <div class="panel-body">Titre 4<input class="form-control" name="title" type="text"></div>
            <div class="panel-body">Paragraphe 4<textarea style="resize: none;" class="form-control" name="corps"
                                                                 type="text"></textarea></div>

            <input type="submit" value="Enregistrer">
            <div class="panel-footer">Modifié pour la dernière fois le 12/03/19 à 12h34</div>
        </form>
    </div>

    <hr>
</div>

</body>

{% include 'admin/block/footer.twig' %}