{% include 'admin/block/header.twig' %}

<body>

<div class="col-md-4 col-users">

</div>

<div class="col-md-4 col-contenue">

</div>

<div class="col-md-4 col-parametre">

</div>

</body>

{% include 'admin/block/footer.twig' %}