{% include 'admin/block/header.twig' %}

<body>


<div class="content">
    <a href="/admin/users">
    <div class="col-md-4">
        <div class="col-users col-item">
            <img src="https://image.flaticon.com/icons/svg/149/149447.svg" alt="">
            <h2>Lister & éditer les utilisateurs</h2>
        </div>
    </div>
    </a>

    <a href="/admin/contenu">
    <div class="col-md-4">
        <div class="col-contenue col-item">
            <img src="https://image.flaticon.com/icons/svg/126/126483.svg" alt="">
            <h2>Lister & éditer les contenus</h2>
        </div>
    </div>
        </a>

    <a href="/admin/settings">
    <div class="col-md-4">
        <div class="col-parametre col-item">
            <img src="https://image.flaticon.com/icons/svg/126/126472.svg" alt="">
            <h2>Accéder aux paramètres de ce compte</h2>
        </div>
    </div>
    </a>
</div>

</body>

{% include 'admin/block/footer.twig' %}