{% include 'admin/block/header.twig' %}

<body>

<div class="container">
    <h2>Créer un client</h2>
    <p>Vous pouvez créer un client à l'aide du formulaire ci-dessous :</p>

    <form method="post" action="">
        <div class="form-group">
            <label for="email">Adresse email :</label>
            <input name="email" type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Téléphone :</label>
            <input name="telephone" type="tel" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Nom :</label>
            <input name="name" type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Prénom :</label>
            <input name="lastname" type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label style="color: red" for="pwd">Le mot de passe est généré aléatoirement et envoyé par email au
                client.</label>
            <input type="hidden" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Enregistrer</button>
    </form>
    {% if code is defined %}
        {% if code == false %}
            <p style="color: red">Ce client à déjà été enregistré</p>
        {% else %}
            <p style="color: green">Le client à été enregistré avec succès. Un email contenant sont mot de passe lui a
                été envoyé.</p>
        {% endif %}
    {% endif %}

    <hr>

    <h2>Liste des clients</h2>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Gérer</th>
        </tr>
        </thead>
        <tbody>

            {% for user in users_list %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td><a href="/admin/user/{{ user.id }}">Détails</a></td>
            <tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>

{% include 'admin/block/footer.twig' %}